{% extends 'index.html' %}
{% load static %}
{% block content %}

    <!-- Products Area Start  -->
    <div class="ms-product-area p-relative">

        <div class="container">
            <div class="row mb-30">
                <div class="col-lg-6">
                    <div class="product__modal-box product-dbox-grid mb-60">
                        <ul class="nav nav-tabs border-0" id="modalTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1"
                                        aria-selected="false">
                                    <img src="{% static 'assets/img/shop/product-01.png' %}" alt="product image">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav2-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2"
                                        aria-selected="false">
                                    <img src="{% static 'assets/img/shop/product-02.png' %}" alt="product image">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav3-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3"
                                        aria-selected="false">
                                    <img src="{% static 'assets/img/shop/product-03.png' %}" alt="product image">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav4-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4"
                                        aria-selected="true">
                                    <img src="{% static 'assets/img/shop/product-04.png' %}" alt="product image">
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content br-15 ms-bg-2 d-flex align-items-center" id="modalTabContent">
                            <div class="tab-pane fade active show" id="nav1" role="tabpanel"
                                 aria-labelledby="nav1-tab">
                                <div class="product__modal-img w-img">
                                    {% if base64_image %}
                                        <img src="{{ base64_image }}" alt="Generated product image">
                                    {% else %}
                                        <img src="{% static 'assets/img/shop/product-01.png' %}" alt="product image">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                <div class="product__modal-img w-img">
                                    <img src="{% static '/images/generated_image_75.png' %}" alt="product image">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                <div class="product__modal-img w-img">
                                    <img src="{% static 'assets/img/shop/product-03.png' %}" alt="product image">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                <div class="product__modal-img w-img">
                                    <img src="{% static 'assets/img/shop/product-04.png' %}" alt="product image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ms-product-modal-content mb-60">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'add_image' %}">
                            {% csrf_token %}
                            <div class="d-flex align-items-center justify-content-between mb-35 mr-40"></div>
                            <h2 class="ms-product-title2 mb-30">
                                <a href="addimage.html">Create your image Here</a>
                            </h2>
                            <div class="ms-product-stock sku ms-border2 d-inline-block pb-10 mb-30">
                                <div class="nav nav-tabs mb-tab-button-style" id="nav-tab" role="tablist">
                                    <div class="ms-product-stock-item mb-20">
                                        <input style="display: none" type="radio" name="category"
                                               value="Draw Image" id="nav-faq-1"
                                               {% if category == "Draw Image" %}checked{% endif %}>
                                        <label class="nav-link active" id="nav-faq-1-tab" for="nav-faq-1"
                                               data-bs-toggle="tab" data-bs-target="#nav-faq-1" role="tab"
                                               aria-controls="nav-faq-1" aria-selected="true">
                                            Draw
                                        </label>
                                    </div>
                                    <div class="ms-product-stock-item mb-20">
                                        <input style="display: none" type="radio" name="category" value="Illustration"
                                               id="nav-faq-2"
                                               {% if category == "Illustration" %}checked{% endif %}>
                                        <label class="nav-link" id="nav-faq-2-tab" for="nav-faq-2" data-bs-toggle="tab"
                                               data-bs-target="#nav-faq-2" role="tab" aria-controls="nav-faq-2"
                                               aria-selected="false">
                                            Illustration
                                        </label>
                                    </div>
                                    <div class="ms-product-stock-item mb-20">
                                        <input style="display: none" type="radio" name="category" value="Real Image"
                                               id="nav-faq-3"
                                               {% if category == "Real Image" %}checked{% endif %}>
                                        <label class="nav-link" id="nav-faq-3-tab" for="nav-faq-3" data-bs-toggle="tab"
                                               data-bs-target="#nav-faq-3" role="tab" aria-controls="nav-faq-3"
                                               aria-selected="false">
                                            Real Image
                                        </label>
                                    </div>
                                    <div class="ms-product-stock-item mb-20">
                                        <input style="display: none" type="radio" name="category" value="Art Image"
                                               id="nav-faq-4"
                                               {% if category == "Art Image" %}checked{% endif %}>
                                        <label class="nav-link" id="nav-faq-4-tab" for="nav-faq-4" data-bs-toggle="tab"
                                               data-bs-target="#nav-faq-4" role="tab" aria-controls="nav-faq-4"
                                               aria-selected="false">
                                            Art
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="ms-input-box style-2">
                                <input name="title" value="{{ title }}" placeholder="Enter your title here...">
                            </div>
                            <input type="hidden" name="image_data" id="image_data" value="">

                            <div class="ms-input-box style-2">
    <textarea cols="30" rows="10" name="prompt"
              placeholder="Enter your prompt here...">{{ prompt_default }}</textarea>
                            </div>


                            <div class="product__modal-form">
                                <div class="product-quantity-cart ms-product-quantity-flex mb-30">
                                    <div class="offcanvas__btn mb-30">
                                        <button type="submit" name="action" value="generate" class="ms-border-btn"><i
                                                class="fa-solid fa-plus"></i>
                                            Generate
                                        </button>
                                    </div>
                                    <div class="banner__form-button">
                                        <button name="action" value="save" class="ms-white-bg"><i
                                                class="flaticon-heart"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="saved-images mt-4">
                        <h3>Saved Images</h3>
                        {% for image in images %}
                            <div class="image-item">
                                <h4>{{ image.title }}</h4>
                                <img src="{{ image.image.url }}" alt="{{ image.title }}"
                                     style="width: 100%; max-width: 300px;">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Products Area End  -->

{% endblock %}

<script>
    // Remplir le champ caché avec les données de l'image générée
    const imageElement = document.getElementById('generated_image');
    const hiddenInput = document.getElementById('image_data');

    if (imageElement) {
        hiddenInput.value = imageElement.src;  // Remplir le champ caché avec les données de l'image
    }
</script>