{% extends 'index.html' %}
{% load static %}

{% block content %}

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .card {
        background-color: transparent;
        border: 1px solid rgba(128, 128, 128, 0.8);
        border-radius: 15px;
        padding: 20px;
        max-width: 300px;
        flex: 1 1 calc(30% - 40px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    }

    .card h3 {
        margin: 0 0 10px;
        color: #ffffff;
        font-size: 1.5em;
    }

    .card p {
        color: #ffffff;
        margin: 5px 0;
    }

    .btn-delete {
        background-color: #ff4d4d; /* Couleur rouge pour le bouton de suppression */
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-delete:hover {
        background-color: #e60000; /* Couleur rouge foncé au survol */
    }

    @media (max-width: 768px) {
        .card {
            flex: 1 1 calc(100% - 40px);
        }
    }
</style>

<div class="card-container">
    {% for license in licenses %}
    <div class="card">
        <h3>{{ license.poem.title }}</h3>
        <p><strong>Nom:</strong> {{ license.name }}</p>
        <p><strong>Description:</strong> {{ license.description }}</p>
        <p><strong>Date de création:</strong> {{ license.created_at }}</p>
        <form action="{% url 'delete_license' license.id|stringformat:"s" %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn-delete">Supprimer</button>
        </form>
    </div>
    {% empty %}
    <div class="card" style="text-align: center; color: #999;">
        <p>Aucune licence disponible.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
