{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h2>Modifier le Poème</h2>
    <form method="POST" action="{% url 'update_poem' poem.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Titre du Poème:</label>
            <input type="text" id="title" name="title" class="form-control" value="{{ poem.title }}" required>
        </div>
        <div class="form-group">
            <label for="text">Texte du Poème:</label>
            <textarea id="text" name="text" class="form-control" rows="5" required>{{ poem.text }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à Jour</button>

    </form>
</div>

{% endblock %}
