{% extends 'index.html' %}
{% load static %}
{% block content %}

    <!-- Products Area Start  -->
    <div class="ms-product-area  p-relative">

        <div class="container">
            <div class="row mb-30">
                <div class="col-lg-5">
                    <div class="tab-pane fade active show" id="nav1" role="tabpanel"
                         aria-labelledby="nav1-tab">
                        <div class="product__modal-img w-img">
                            <div class="ms-genres-tab2-text ms-genres-tab2-padding ms-bg-2 ms-br-15">
                                <img id="loadingImage" src="{% static 'assets/loading.gif' %}" alt="loading"
                                     style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="ms-product-modal-content mb-60">
                        <form method="POST" enctype="multipart/form-data" onsubmit="showLoading()">
                            {% csrf_token %}
                            <div class="d-flex align-items-center justify-content-between mb-35 mr-40"></div>
                            <h2 class="ms-product-title2 mb-30">
                                <a href="">Create Your Video Here </a>
                            </h2>

                            <div class="ms-input-box style-2">
                                <input name="name" value='{{ name }}' placeholder="Enter your title here...">
                            </div>

                            <div class="ms-input-box style-2">
                                        <textarea cols="30" rows="10" name="prompt"
                                                  placeholder="Enter your prompt here...">{{ prompt }}</textarea>
                            </div>

                            <div class="ms-input-box style-2">
                                <select name="tags" class="form-select form-select-lg text-light bg-dark js-example-basic-multiple" multiple="multiple">
                                    {% for tag in tags %}
                                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="ms-checkbox mb-4">
                                <span>Display for all users.</span>
                                <input name="display" type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </div>

                            <div class="product__modal-form">
                                <div class="product-quantity-cart ms-product-quantity-flex mb-30">
                                    <div class="offcanvas__btn mb-30">
                                        <button type="submit" class="ms-border-btn"><i
                                                class="fa-solid fa-plus"></i>
                                            Generate
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Products Area End  -->


    <!-- JavaScript to show loading image -->
    <script>
        function showLoading() {
            document.getElementById('loadingImage').style.display = 'block';  // Show the loading image
        }
    </script>

{% endblock %}