
{% extends 'index.html' %}
 {% load static %}
{% block content %}
        <main>
            <!-- page title area start  -->
            <section class="page-title-area page-title-spacing p-relative zindex-1 "
                data-background="{% static 'assets/img/bg/work-bg.jpg'%}">
                <div class="ms-overlay ms-overlay9 p-absolute zindex--1"></div>
                 <div class="container">
                    <div class="ms-maxw-510 mx-auto" >
                        <div style="background-color: #131212" class="ms-login-wrap text-center ms-login-space ms-bg-2">
                            <h3 class="ms-title4 mb-50">Welcome Again</h3>
                           <form method="POST" >
                                {% csrf_token %}
                                <div class="ms-input2-box mb-25">
                                    <input type="email" name="email" required placeholder="Email">
                                </div>
                                <div class="ms-input2-box mb-30">
                                    <input type="password" name="password" required placeholder="Password">
                                </div>
                                <div  class="ms-input2-box mb-30">
                                    <input style="width: 5%; height: 5%" checked type="checkbox" name="skip" >Skip verify email
                                </div>
                                <div class="ms-submit-btn mb-40">
                                    <button class="unfill__btn d-block w-100" type="submit">Log in</button>
                                </div>
                                <div class="ms-divided-btn mb-45">
                                    <span>or</span>
                                </div>
                                <div class="ms-fb mb-40">
                                    <button class="ms-fb-btn" type="submit"><i class="fa-brands fa-facebook"></i>
                                        Log in with facebook</button>
                                </div>
                                <div class="ms-not-account mb-35">
                                    <p>Don’t have an account? <a href="{% url 'signup' %}">Register Now</a></p>
                                </div>

                                <div class="ms-forget-pass">
                                    <a href="{% url 'resetPassword' %}">Forgot Your Password?</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end  -->

            <!-- Partner Area Start Here  -->
            <div class="ms-partner-area fix pt-80 pb-130">
                <div class="container">
                    <div class="swiper-container ms-partner-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-01.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-02.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-03.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-04.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-05.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-04.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-01.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-02.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-03.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-04.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-05.png'%}" alt="partner image">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'assets/img/partner/partner-04.png'%}" alt="partner image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Partner Area End Here  -->

        </main>


{% endblock %}
