{% extends 'index.html' %}

{% block content %}
    {% load static %}
    <!-- News Area Start Here  -->
    <section class="ms-news-area pb-80 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-8">
                    <div class="ms-news-sidebar mb-50">
                        <div class="ms-news-img m-img fix ms-br-15 mb-30">
                            <img src="{{ request.session.profile_image }}" alt="Profile Image">
                            <span class="ms-news-cat"><a href="{% url 'userInfo' %}">{{ request.session.user_name }}</a></span>
                        </div>
                        <ul style="list-style-type: none;width: 100%;" class="tagcloud">
                            <li><a style="width: 100%; text-align: center" href="{% url 'userInfo' %}">Personal Info</a>
                            </li>
                            <li><a style="width: 100%; text-align: center" href="{% url 'editProfile' %}">Edit
                                Profile</a></li>
                            <li><a style="width: 100%; text-align: center" href="#">Wish list</a></li>
                            <li><a style="width: 100%; text-align: center" href="#">product</a></li>
                            <li><a style="width: 100%; text-align: center" href="{% url 'logout' %}"> <i
                                    class="fa-solid fa-power-off"></i> Logout</a></li>

                        </ul>

                    </div>
                </div>
                <div class="col-xl-8 col-lg-12">
                    <div class="ms-news-dwrap ms-news-sidebar mb-50">
                        {% block profile_content %}
                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- News Area End Here  -->





{% endblock %}