 {% load static %}

          <!-- Footer Area Start Here  -->
        <footer>
            <div class="ms-footer3-wrap include__bg zindex-1 p-relative" data-background="{% static 'assets/img/bg/sound-bg.png'%}">

                <div class="ms-footer-bottom">
                    <div class="container">
                        <div class="ms-footer-bottom-wrap text-center pt-35 pb-20">
                            <div class="ms-footer-copy">
                                <p>© Musicly 2024, All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here  -->


