 {% load static %}

          <!-- Footer Area Start Here  -->
        <footer>
            <div class="ms-footer3-wrap include__bg zindex-1 p-relative" data-background="{% static 'assets/img/bg/sound-bg.png'%}">
                <div class="ms-overlay ms-overlay5 p-absolute zindex--1"></div>
                <div class="ms-footer3-top pt-130">
                    <div class="container">
                        <div class="ms-border2">
                            <div class=" ms-footer2-top-inner ms-border1 ms-br-100 ms-bg-4 mb-65">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="ms-footer2-rating three mb-10">
                                            <h3>Excellent : 1050 Review On <a href="#"><img
                                                    src="{% static 'assets/img/footer/start-01.png'%}" alt="footer image"></a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="ms-subscribe2-form p-relative mb-10 d-none d-sm-block">
                                            <i class="flaticon-mail"></i>
                                            <input type="text" placeholder="Enter your mail">
                                            <button type="submit" class="ms-subscribe2-btn">Subscribe Now <i
                                                    class="fa-sharp fa-solid fa-paper-plane"></i></button>
                                        </div>
                                        <div class="ms-subscribe2-mobile p-relative mb-10 d-sm-none">
                                            <i class="flaticon-mail"></i>
                                            <input type="text" placeholder="Enter your mail">
                                            <button type="submit" class="ms-subscribe2-m-btn">Subscribe Now <i
                                                    class="fa-sharp fa-solid fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-15">
                                <div class="col-xxl-4 col-lg-5 col-md-6">
                                    <div class="ms-footer2-widget mb-50 pr-20">
                                        <h3 class="ms-footer2-title">Get in touch</h3>
                                        <div class="ms-footer2-contact border-0 pb-40">
                                            <ul>
                                                <li><i class="flaticon-pin"></i><a href="#">936 Kuhl Avenue,
                                                        Norcross,
                                                        Georgia
                                                        GA 5983, United State</a></li>
                                                <li><i class="flaticon-phone-call"></i><a href="tel:03332920560">0333
                                                        292
                                                        0560</a></li>
                                                <li><i class="flaticon-mail"></i><a
                                                        href="mailto:info@musiclycontact.com">info@musiclycontact.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="ms-footer-social mb-15">
                                            <a href="https://www.instagram.com/" title="Instagram"
                                                target="_blank">IN</a>
                                            <a href="https://twitter.com/" title="Twitter" target="_blank">TW</a>
                                            <a href="https://www.facebook.com/" title="Facebook" target="_blank">FB</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer2-widget ms-footer2-widget2 mb-50">
                                        <h3 class="ms-footer2-title">Company</h3>
                                        <ul>
                                            <li><a href="about.html">About us</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                            <li><a href="contact.html">Terms & Policy</a></li>
                                            <li><a href="contact.html">Help & Support</a></li>
                                            <li><a href="#">Press</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer2-widget mb-50">
                                        <h3 class="ms-footer2-title">Local Band Group</h3>
                                        <ul>
                                            <li><a href="#">The Tricks</a></li>
                                            <li><a href="#">Sound City</a></li>
                                            <li><a href="#">Big Teaser</a></li>
                                            <li><a href="#">The New Tones</a></li>
                                            <li><a href="#">Halos Music</a></li>
                                            <li><a href="#">Soho Soul</a></li>
                                            <li><a href="#">Atlantic</a></li>
                                            <li><a href="#">The Fiction</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer2-widget mb-50">
                                        <h3 class="ms-footer2-title">Trending Genres</h3>
                                        <ul>
                                            <li><a href="genres-details.html">Wedding Bands</a></li>
                                            <li><a href="genres-details.html">Jazz & Swing</a></li>
                                            <li><a href="genres-details.html">Musician</a></li>
                                            <li><a href="genres-details.html">Classical Musician</a></li>
                                            <li><a href="genres-details.html">Corporate Party</a></li>
                                            <li><a href="genres-details.html">Premiere Party Band</a></li>
                                            <li><a href="genres-details.html">DJ Songs</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer2-widget mb-50">
                                        <h3 class="ms-footer2-title">Country We Serve</h3>
                                        <ul>
                                            <li><a href="#">United State</a></li>
                                            <li><a href="#">Canada</a></li>
                                            <li><a href="#">Australia</a></li>
                                            <li><a href="#">China</a></li>
                                            <li><a href="#">South Korea</a></li>
                                            <li><a href="#">Japan</a></li>
                                            <li><a href="#">Singapore</a></li>
                                            <li><a href="#">Hong Kong</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ms-footer-bottom">
                    <div class="container">
                        <div class="ms-footer-bottom-wrap text-center pt-35 pb-20">
                            <div class="ms-footer-copy">
                                <p>© Musicly 2023, All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here  -->


