 {% load static %}
 {% load image_to_base64_filter %}
<div style="max-width: 300px" class="ms-product-item">
                        <div class="ms-product-img p-relative mb-20">
                            <a href="shop-details.html"> <img src="{{ item.image|to_base64 }}" alt="{{ item.title }}"> </a>

                            <div class="ms-product-links">

                            </div>
                        </div>

                        <h3 class="ms-product-title mb-20"><a href="shop-details.html">{{ item.title }}</a></h3>
                    </div>