{% load static %}
<div style="max-width: 300px" class="ms-product-item">
    <div class="ms-product-img p-relative mb-20">
        <a href="{% url 'musicdetails' item.id %}">
            <img src="{% static image %}" alt="product img">
        </a>
        <div class="ms-product-links">
            <ul>
                {% if category == 'Music' %}
                <li><a href="{% url 'musicdetails' item.id %}"><i class="flaticon-view"></i></a></li>

                    <li>
                        <a class="ms-model2-show" data-toggle="modal" data-target="#ms-model-{{ item.id }}" href="javascript:void(0);">
                            <i class="fa-regular fa-folder-plus"></i>
                        </a>
                    </li>
                
                {% else %}
                <li><a href="{% url 'poemedetails' item.id %}"><i class="flaticon-view"></i></a></li>
                <li>
                    <a href="{% url 'update_poem' item.id|stringformat:"s" %}">
                        <i class="fa-solid fa-pencil-alt"></i>
                    </a>
                </li>
              
                {% endif %}
               

                <li>
                    <a href="{% url 'delete_poem' item.id %}" onclick="event.preventDefault(); if(confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')) { document.getElementById('delete-form-{{ item.id }}').submit(); }">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <form id="delete-form-{{ item.id }}" action="{% url 'delete_poem' item.id %}" method="POST" style="display:none;">
                        {% csrf_token %}
                    </form>
                </li>
                
            </ul>
        </div>
    </div>
    <h3 class="ms-product-title mb-20"><a href="{% url 'musicdetails' item.id %}">{{ item.title }}</a></h3>
    <span class="ms-product-price ms-text2">{{ item.category }}</span>
    {% if item.text %}
        <br>
        <span class="ms-product-price ms-text2">{{ item.text|slice:":30" }}...</span>
    {% endif %}
</div>

<!-- Modal for Add to Album -->
<div class="modal fade ms-model2 zindex-99999" id="ms-model-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    {% include 'Add_To_Album.html' with item=item albums=albums %}
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Show the modal when the Add to Album button is clicked
        $('.ms-model2-show').on('click', function(e) {
            // Use data-target to find the correct modal
            var targetModal = $(this).data('target');
            $(targetModal).modal('show');
            e.preventDefault();
        });

        // Close button handler if you have one in your modal
        $('.ms-close-btn').on('click', function(e) {
            // Find the correct modal using the button context
            var targetModal = $(this).closest('.modal');
            targetModal.modal('hide');
            e.preventDefault();
        });
    });
</script>
