{% load static %}


<header>
    <div id="header-sticky" class="header__area header-1 ms-header-fixed ms-bg-body">
        <div class="container-fluid ms-maw-1710">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="mega__menu-wrapper p-relative">
                        <div class="header__main d-flex align-items-center justify-content-between">
                            <div class="header__logo pt-25 pb-25">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'assets/img/logo/logo.svg' %}" alt="logo not found">
                                </a>
                            </div>


                                <div class="mean__menu-wrapper">
                                    <div class="main-menu main-menu-ff-space">
                                        <nav id="mobile-menu">
                                            <ul>
                                                <li>
                                                    <a href="{% url 'home' %}">Home</a>

                                                </li>
{% if  request.session.profile_image and  request.session.user_name %}

                                                <li>
                                                    <a href="{% url 'my_galleries' %}">Galleries</a>
                                                </li>
                                                <li>
                                                     <a href="{% url 'Gallery' %}">My Products</a>
                                                </li>
                                            <li>
                                                     <a href="{% url 'my_albums' %}">My Albums</a>
                                                </li>

                                            {% endif %}

                                                <li>
                                                     <a href="{% url 'AlbumShow' %}">Music Album</a>
                                                </li>


                                                <li>

                                                    {% if not request.session.profile_image and not request.session.user_name %}
                                                    <div class="enquiry__list ml-10 mr-10 ms-browse-act-wrap p-relative">
                                                        <div class="ms-enquiry-box p-relative d-none d-xl-inline-flex">
                                                            <a href="{% url 'login' %}"><i
                                                                    class="flaticon-star icon"></i> <span class="text">Start Now</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- for wp -->
                                        <div class="header__hamburger ml-50 d-none">
                                            <button type="button" class="hamburger-btn offcanvas-open-btn">
                                                <span>01</span>
                                                <span>01</span>
                                                <span>01</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            <div class="header__right">
                                <div class="header__action-inner d-flex align-items-center">
                                    {% if request.session.profile_image and request.session.user_name %}
                                              <div class="d-none d-xxl-block">
                                <div class="browse-filter p-relative ms-browse-act-wrap">
                                    <div class="ms-browse-icon ms-cp">
                                        <a class="browse-filter__text" href="javascript:void(0)"><i
                                                class="flaticon-options-lines"></i>
                                            Create New</a>
                                    </div>
                                    <div class="ms-browse-act-item-wrap p-absolute">
                                        <div class="ms-song-item">
                                            <div class="ms-song-img p-relative">
                                                <a href="{% url 'add_image' %}"><img
                                                        src="{% static 'assets/img/Images/image.png' %}"
                                                        alt="brand-song"></a>
                                            </div>
                                            <div class="ms-song-content">
                                                <h3 class="ms-song-title"><a href="{% url 'add_image' %}">Image</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="ms-song-item">
                                            <div class="ms-song-img p-relative">
                                                <a href="{% url 'music' %}"><img
                                                        src="{% static 'assets/img/Images/sound.png' %}"
                                                        alt="brand-song"></a>
                                            </div>
                                            <div class="ms-song-content">
                                                <h3 class="ms-song-title"><a href="{% url 'music' %}">Music</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="ms-song-item">
                                            <div class="ms-song-img p-relative">
                                                <a href="{% url 'add_poem' %}"><img
                                                        src="{% static 'assets/img/Images/poetry.png' %}"
                                                        alt="brand-song"></a>
                                            </div>
                                            <div class="ms-song-content">
                                                <h3 class="ms-song-title"><a href="{% url 'add_poem' %}">Poem</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="ms-song-item">
                                            <div class="ms-song-img p-relative">
                                                <a href="{% url 'add_speech' %}"><img
                                                        src="{% static 'assets/img/Images/rumor.png' %}"
                                                        alt="brand-song"></a>
                                            </div>
                                            <div class="ms-song-content">
                                                <h3 class="ms-song-title"><a href="{% url 'add_speech' %}">Speech</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="ms-song-item">
                                            <div class="ms-song-img p-relative">
                                                <a href="{% url 'add_video' %}"><img
                                                        src="{% static 'assets/img/Images/video.png' %}"
                                                        alt="brand-song"></a>
                                            </div>
                                            <div class="ms-song-content">
                                                <h3 class="ms-song-title"><a href="{% url 'add_video' %}">Video</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="ms-song-item">
                                            <div class="ms-song-img p-relative">
                                                <a href="{% url 'add_reel' %}"><img
                                                        src="{% static 'assets/img/Images/reel.png' %}"
                                                        alt="brand-song"></a>
                                            </div>
                                            <div class="ms-song-content">
                                                <h3 class="ms-song-title"><a href="{% url 'add_reel' %}">Reel</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        <div class="user__acount d-none d-xxl-inline-flex">
                                                <span>
                                                    <a href="{% url 'userInfo' %}">
                                                        <img src="{{ request.session.profile_image }}"
                                                             alt="Profile Image"
                                                             style="width: 100%; height: 100%;background-size: cover; border-radius: 50%;">
                                                    </a>
                                                </span>
                                        </div>
                                    {% endif %}
                                    {% if not request.session.profile_image and request.session.user_name %}
                                        <div class="user__acount d-none d-xxl-inline-flex">
                                                <span>
                                                    <a href="{% url 'userInfo' %}">
                                                        <i class="flaticon-user"></i>
                                                    </a>
                                                </span>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                    {% if messages %}
                        <div class="alert-container">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>

                        <style>
                            .fade-out {
                                opacity: 0;
                                transition: opacity 0.5s ease;
                            }
                        </style>

                        <script>
                            const alertDuration = 2000;

                            document.querySelectorAll('.alert').forEach((alert) => {
                                setTimeout(() => {
                                    alert.classList.add('fade-out'); // Add the fade-out class
                                    setTimeout(() => {
                                        const bsAlert = new bootstrap.Alert(alert);
                                        bsAlert.close(); // Close the alert after fading out
                                    }, 500); // Wait for fade-out transition to finish
                                }, alertDuration);
                            });
                        </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</header>
<!-- Header area end -->



